.orrange-bg{
    background-color: #fceae8;
}
.bay-btn{
    background-color: #FF136F;
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    color: white;
    font-family: sans-serif;
}
.price{
    color: #FF136F;
}